<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.clevertapbugrepro">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
        <service
            android:name="com.clevertap.android.sdk.CTBackgroundJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>

		<meta-data
			android:name="CLEVERTAP_ACCOUNT_ID"
			android:value="TEST-ZW8-65K-9W6Z"/>
		<meta-data
			android:name="CLEVERTAP_TOKEN"
			android:value="TEST-356-b01"/>
        <meta-data 
            android:name="CLEVERTAP_REGION" 
            android:value="sg1"/>
        <meta-data
            android:name="CLEVERTAP_USE_GOOGLE_AD_ID"
            android:value="1"/>
        <meta-data
            android:name="CLEVERTAP_BACKGROUND_SYNC"
            android:value="1"/>

    </application>
</manifest>
